@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');



body {
}

.highligh{
    background-color:lightgray;
}


.all{
    background-color:transparent;
    color: fuchsia;

}

.first {
  background-color: lightgrey;
}

.inputArea{
    width: 30%;
}

.normal{
    text-decoration:underline;
}


.word-container {
  margin-left: 10%;
}

.wordContainer {
  user-select: none;
  width: 80%;
  height: 110px;
  overflow: hidden;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.wordset {
  font-family: 'Baloo Thambi 2', cursive;
  color: black;
}

.word {
  display: inline-block;
  border-radius: 3px;
  padding: 5px;
  line-height: 40px;
  font-size: 30px;
}

