body {
}


#top-bar {
  vertical-align: middle;
  border-bottom: 1px solid #d4d4d4;
  padding: 10px 15px 10px 15px;
  color: #d4d4d4;
  height: auto;
  overflow: auto;

  font-size: large;
  color: #5d6063;
}

#language {
  float: left;
}
#timer {
  float: right;
  user-select: none;
}

#content-wrapper {
  background-color: white;
  border: 1px solid #d4d4d4;
  border-radius:5px;
}


.word-wrapper {
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 7px;
}

.word-container {
  margin: 0 auto;
  background-color: white;
  user-select: none;
  width: 80%;
  height: 110px;
  overflow: hidden;
  padding: 5px 10px 5px 10px;
}
.user-input {


    font-size:large;

  width:100%;
  border-bottom: 1px solid black;
  border-left: none;
  border-top: none;
  border-right: none;
}


.input-area {
  padding: 10px;
}

.input-wrapper {
  margin: 0 auto;
  width: 30%;
}

.user-input:focus{
    outline:none;
}

.restart-button {
    border-radius:3px;
    background-color:transparent;
    border:none;
}

  .restart-button:hover{
      background-color:lightgray;
  }

  .restart-button:active {
    outline: none;
  }

.wordset {
  font-family: 'Lato', sans-serif;
  color: black;
}




.word {
  display: inline-block;
  border-radius: 3px;
  padding: 5px;
  line-height: 40px;
  font-size: 30px;
}
